@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: rgb(226, 225, 225);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.logo {
  font-family: "Dela Gothic One", cursive;
}

.overflow-y-scroll::-webkit-scrollbar {
  width:9px;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background: #fda359;
  border-radius: 6px;
}